<html>
<head>
<title>dashboard page </title>
</head>
<body>
<h1>welcome <%=user.firstName%> </h1>
<h2>your details </h2>
<p>FirstName : <%=user.firstName%> </p>
<p>LastName : <%=user.lastName%> </p>
<p>Email : <%=user.email%> </p>
<p> <a href="/logout"><b>logout</b></a>
</body>
</html>
