<html>
<head>
<title>dashboard page </title>
</head>
<body>
<h1>welcome to basic auth page</h1>
<p> <a href="/register"><b>register</b></a> or <a href="/login"><b>login</b></a> to continue! </p>
</body>
</html>
